<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
        <h2>Erro</h2>
        <p><%= message %></p>
    </main>

    <footer>
        <p>&copy; <%= new Date().getFullYear() %></p>
    </footer>
</body>
</html>